*{
    box-sizing: border-box;
    margin: 0;
}
:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    }

.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
   position: relative;
   
}

.login__form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    
   
}

.login__logo {
    width: 10rem;
    margin-bottom: 50px;
    justify-self: center ;
    display: none;
}
.login__title {
    font-family: 'Quicksand', sans-serif;
    font-size: var(--lg);
    margin-bottom: 18px;
    text-align: left;
    
}
 .create__title {
    font-family: 'Quicksand', sans-serif;
    font-size: var(--lg);
    margin-bottom: 18px;
    text-align: left;
    margin-bottom: 40px;
 }
.login__subtitle{
    margin-bottom: 18px;
    text-align: center;
    font-weight: 300;
    color: var(--very-light-pink);
    font-weight: var(--md);
    text-align: left;
    
}

.login__form {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.login__form div {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
    text-align: left;
}

.login__input--password {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 40px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 25px;
    
}
.login__input--name{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 40px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 25px;
}
.login__input--email {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 40px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 25px;
}
.email__image{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: grid;
    place-items: center;
    justify-self: center;
}

.resend__email {
    font-size: var(--sm);
}

.resend__email span {
    color: var(--very-light-pink);

}

.resend__email a {
    color: var(--hospital-green);
    text-decoration: none;
}

.email__image img {
    width: 80px;
   
}
.login__button--confirm  {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    margin-top: 14px;
    margin-bottom: 30px;
}
.login__button--create {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    margin-top: 14px;
    margin-bottom: 30px;
}
.login__button--Edit {
    background-color: var(--white);
    border-radius: 8px;
    border:  1px solid var(--hospital-green);
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    margin-top: 14px;
    margin-bottom: 30px;
}
.login__button 
{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    margin-top: 14px;
    margin-bottom: 30px;
    
}
.sign-up__button{
    background-color: var(--white);
    border: 1px solid var(--hospital-green);
    border-radius: 8px;
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    
}
.login a {
color: var(--hospital-green);
font-size: var(--sm);
text-align: center;
text-decoration: none;
margin-bottom: 15px;
}
.value {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin: 8px 0 32px 0;
   
}
.cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px) ;
    gap: 26px;
    place-content: center;
}
.product_card {
    width: 240px;
} 
.product_card img {
    width: 100%;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.product_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

}
.product_info div p:nth-child(1) {
   font-weight: bold;
   font-size: var(--md);
   margin-top: 0; 
   margin-bottom: 4px;
}
.product_info div p:nth-child(2) {
   
    font-size: var(--sm);
   margin-top: 0; 
   margin-bottom: 0;
   color: var(--very-light-pink);
 
 }
.product_info figure img {
    width: 40px;
    height: 40px;

}
.product_card {
    margin-right: 10px;
}
.menu__desktop {
    display: flex;
    align-items: center;
    width: 110px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 10px;
    margin-left: 20px;
    
    
}
.menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.menu__item {
    text-align: center;
    
    
}
.menu__desktop:nth-child(1),
.menu__desktop:nth-child(2) {
    font-weight: bold;
}

.menu__item:last-child{
    
    padding-top: 20px;
    
}
.menu__item:last-child a {
   color: var(--hospital-green);
   font-size: var(--sm);
}
.menu__item a {
display: inline-block;
color: #000000;
text-decoration: none;
margin-bottom: 20px;

}
.menu_mobile {
   
    padding: 24px;
    
    width: 250px;
}

.menu_mobile a {

   text-decoration: none;
   color: var(--black);
   font-weight: bold;
  
}

.menu__list--mobile {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
 }
 .menu__list--mobile:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
   }
 .menu__list--mobile:nth-child(3) {
   
    bottom: 0;
   }
 .menu__item--mobile {
    margin-bottom: 24px;
 }
 .menu__item--mobile .email {
    font-size: var(--sm);
    color: var(--very-light-pink);
    font-weight: 300 !important;
 }
 .sign-out {
    color: var(--hospital-green) !important;
    font-size: var(--sm);
 }
 .my_order_container{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
 }

 .title_my_order {
   font-size: var(--lg);
   margin-bottom: 40px;

 }
 .my_order--content  {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;

 }
 .info_order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color:var(--text-input-field) ;
    margin-bottom: 30px;
    border-radius: 8px;
    padding: 24px 24px;
 }
 .shopping_cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;

 }
 .shopping_cart p:nth-child(2) {
    color: var(--very-light-pink);
    text-align: center;
 }
 .shopping_cart p:nth-child(3) {
   font-size: var(--md);
   font-weight: bold;
 }
 .shopping_cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
 }
 .info_order p:nth-child(1) {
    display: flex;
    flex-direction: column;
 }
 .info_order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
 }
 .info_order p span:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--sm);
 }
 .info_order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
 }

 .total_order_container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
 }
 .total_order_content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
 }
 
.info_order--total {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    align-items: center;
    margin-bottom: 30px;
   
   
}
.info_order--total p:nth-child(2) {
    text-align: end;
    font-weight: bold;
 }
 .info_order--total p span:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--sm);
 }
 .info_order--total p:nth-child(1) {
    display: flex;
    flex-direction: column;
 }
 .info_order--total p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
 }
















@media (max-width: 640px) {
    .login__logo {
        display: block;
    }
    .sign-up__button {
        margin-top: 50px;
        position: absolute;
        bottom: 75px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 300px;
    }
    .login__button--create{
        margin-top: 50px;
        position: absolute;
        bottom: 75px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 300px;
    }
    }
    @media (max-width: 640px) {
    .cards_container {
            
        grid-template-columns: repeat(auto-fill, 140px);  
    }
    .product_card {
        width: 140px;
    } 
    .product_card img {
        width: 140px;
        height: 140px;
       
    }
}